<h1><%= current_user.user_name %></h1>

<p>You have <%= @recipes.count %> saved recipe(s)</p>
<% @recipes.each do |recipe| %>
<div class="card">
  <div class="card-header">
    <h2><%= recipe.name %></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= recipe.description %></h5>
    <a href="/users/<%= get_user_name %>/recipes/<%= recipe.id %>" class="btn btn-primary">See Full Recipe</a>
  </div>
</div>
  
<% end %>
