<a href="/users/<%= get_user_name %>/change_display"><h1>
<% if !current_user.display_name %>
  <%= current_user.user_name  %>
<% else %>
  <%= current_user.display_name  %>
<% end %>
</h1></a>

<a href="/users/<%= get_user_name %>/change_password">change password</a><br><br>
<h5>You have <%= @recipes.count %> saved recipe(s)</h5><br>
<% @recipes.each do |recipe| %>
<div class="card">
  <div class="card-header">
    <h2><%= recipe.name %></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= recipe.description %></h5>
    <a href="/users/<%= get_user_name %>/recipes/<%= recipe.id %>" class="btn btn-primary">See Full Recipe</a>
  </div>
</div>
  
<% end %>
