<h1><%= @session[:user] %></h1>

<p>You have <%= @recipes.count %> saved recipe(s)</p>
<% @recipes.each do |recipe| %>
  <p><a href="/users/<%= session[:user] %>/recipes/<%= recipe.id %>"><%= recipe.name %></a></p>
<% end %>

<p><a href="/users/<%= session[:user] %>/recipes/new">Create a new recipe</a></p>
<p><a href="/users/<%= session[:user] %>/recipes/search">Search for recipes</a></p>

<a href='/users/logout'>Log out</a>