<%= @recipe.name %>

<form>
  <p>
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= @recipe.name %>">
  </p>

  <p>
  <label for="description">Description</label>
  <textarea name="Description"><%= @recipe.description %></textarea>
  </p>

  <p>
  <label for="rating">Rating</label>
  <input type="text" name="rating" value="<%= @recipe.rating %>">
  </p>

  <p>
  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients"><%= @recipe.ingredients %></textarea>
  </p>

  <p>
  <label for="directions">Directions</label>
  <textarea name="directions"><%= @recipe.directions %></textarea>
  </p>

  <input type="Submit" value="Save">

</form>