<%= @recipe.name %>

<form method="post" action="/users/<%= get_user_name %>/recipes/<%= params[:recipe_name] %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= @recipe.name %>">
  </p>

  <p>
  <label for="description">Description</label>
  <textarea name="Description"><%= @recipe.description %></textarea>
  </p>

  <p>
  <label for="rating">Rating</label>
  <input type="text" name="rating" value="<%= @recipe.rating %>">
  </p>
  
  <p>
  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients">
  <% @ingredients.each do |ingredient|%>
      <%= ingredient.ingredient %>
  <% end %> 
  </textarea>

  <p>
  <label for="directions">Directions</label>
  <textarea name="directions">
    <% @directions.each.with_index(1) do |direction, i|%>
        <%= "#{i}. #{direction.direction}" %><br>
    <% end %>
  </textarea>
  </p>

  <input type="Submit" value="Save">

</form>