<%= @recipe.name %>

<form method="post" value="">
  <p>
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= @recipe.name %>">
  </p>

  <p>
  <label for="description">Description</label>
  <textarea name="Description"><%= @recipe.description %></textarea>
  </p>

  <p>
  <label for="rating">Rating</label>
  <input type="text" name="rating" value="<%= @recipe.rating %>">
  </p>

  <p>
  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients">
  <% @ingredients.each do |ingredient|%>
      <%= ingredient %>
  <% end %> 
  </textarea>

  <p>
  <label for="directions">Directions</label>
  <textarea name="directions">
    <% index = 1 %>
    <% @directions.each do |direction|%>
      <% if direction %>
        <% direction.gsub(/\\n Watch Now$/, "") %>
        <%= "#{index}. #{direction}" %><br>
        <% index += 1 %>
      <% end %>
    <% end %>
  </textarea>
  </p>

  <input type="Submit" value="Save">

</form>