<script> 
  let ingredients = <%= @ing %>;
  let directions = <%= @dir %>;
  let data = new ParseData(ingredients, directions);
  let iList = new LinkedList(data.ingredients, "ing");
  current_count = 0;
  let dList = new LinkedList(data.directions, "dir");
</script>

<div id="login-page" class="form-page">
  <div id="outer-container-new" class="oc">
    <div id="inner-container-new" class="ic">
      <h2 class="head2"><%= @recipe.name %></h2>
      <form method="post" action="/users/<%= get_user_name %>/recipes/ <%= @recipe.name %>" class="my-form">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
        <p>
        <label for="name" class="label">Name</label>
        <input type="text" name="name" value="<%= @recipe.name %>">
        </p>

        <p>
        <label for="description" class="label">Description</label>
        <textarea name="Description"><%= @recipe.description %></textarea>
        </p>

        <p>
        <label for="rating" class="label">Rating</label>
        <input type="text" name="rating" value="<%= @recipe.rating %>">
        </p>
        
        <label for="ingredients" class="label">Ingredients</label>
        <div id="for_ing"></div>

        <script>
          populate("for_ing", iList)
        </script>


        <label for="directions" class="label">Directions</label>
        <div id="for_dir"></div>

        <script>
          populate("for_dir", dList)
        </script>




        <input type="submit" value="Save" class="submit-btn" id="go-btn">

        <script>
          go();
        </script>

      </form>
    </div>
  </div>
</div>