
<h1><%= @recipe.name %></h1>
<h3><%= @recipe.description %></h3>
<p><b><%= @recipe.rating %></p></b>

<% if @recipe.ingredients != "[]" %>
<p><%= @recipe.ingredients %></p>
<% else %>
<p><%= "Sorry, No Ingredients Found. Please Search Again!" %></p>
<% end %>

<% if @recipe.directions != "[]" %>
<p><%= @recipe.directions %></p>
<% else %>
<p><%= "Sorry, No Directions Found. Please Search Again!" %></p>
<% end %>

<form method="post" value="hello">
  <input type="submit" value="Save">
</form>