<a href="<%=@recipe.href%>"><h1><%= @recipe.name %><%= @recipe.name %></h1></a>
<h3><%= @recipe.description %></h3>
<p><b><%= @recipe.rating %></p></b>

<h3>Ingredients:</h3>
<% @ingredients.each do |ingredient|%>
  <p><%= ingredient %></p>
<% end %>

<h3>Directions:</h3>
<% index = 1 %>
<% @directions.each do |direction|%>
  <% if direction %>
    <% direction.gsub(/\\n Watch Now$/, "") %>
    <%= "#{index}. #{direction}" %><br>
    <% index += 1 %>
  <% end %>
<% end %>
<br><br>

<button><a href="/users/<%= get_user_name %>/edit/<%= @recipe.name %>">Edit This Recipe</a></button><br><br>

<form method="POST" value="/users/<%= session[:user] %>/recipes">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete This Recipe">
</form>

